@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
/* Given this html: */

/*
<div class="modal">
  <div class="modal-content">
    <span class="close-modal">&times;</span>
  </div>
</div>
*/

/* The Modal (background) */
.modal {
  color: rgb(237, 237, 237);
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  font-size: 1rem;
  /* background-color: #fefefe; */
  background-color: rgba(59, 18, 59, 0.719);
  border-radius: 20px;
  border: none;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  /* border: 1px solid rgb(4, 4, 4); */
  box-shadow: 5px 5px rgba(0, 0, 0, 0.27);
  width: 320px; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placetext {
  margin-top: 0;
  font-weight: bold;
}

button {
  /* all: unset; */
  font-family: inherit;
  /* font-family: "Passion", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  margin-top: 16px;
  font-weight: bold;
  background-color: #1e081e;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
}

#play-button {
  font-size: 0.7rem;
}

button:hover {
  background-color: #611d61;
}

button:active {
  background-color: #a030a0;
}

.to-place {
  background-color: rgb(246, 200, 241);
}

/* For the form */
label {
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
  font-size: 0.7rem;
  font-weight: bold;

  display: flex;
  /* justify-content: center; */
  align-items: center;
}

input[type="text"] {
  font-size: 1rem;
  /* margin-bottom: 20px; */
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.148) inset;
  background-color: rgb(236, 236, 236);
  width: 93%;
}

input[type="checkbox"] {
  border: none;
  accent-color: #a030a0;
  margin-right: 10px;
  cursor: pointer;
}

label[for="player-1-ai"],
label[for="player-2-ai"] {
  cursor: pointer;
  margin-bottom: 10px;
}